.setLogin {
  margin: 0;
  padding: 0;
  background-image: url('http://live.staticflickr.com/2912/33261917251_5739a3a9c0_b.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vh - 66px);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .setLogin {
    background-position: top;
  }
}
  
  .login {
    background-color: rgba(11, 1, 1, 0.8); /* Adjust opacity here */
    border-radius: 10px;
    padding: 20px;
    width:30rem;
    box-shadow: 10px 10px 10px rgba(236, 8, 8, 0.2);
  }
  

  